body {
  color: white;
  background-color: rgb(38, 38, 38);
  font-family: 'Copperplate';
}

img {
  height: 200px;
  width: auto;
}

a {
  color: white;
  font-size: xx-large;
}
h1,
h2 {
  color: orange;
}